.app-loading-circle{
  width: 50px;
  height: 50px;
  position: relative;
}

.app-loading-circle .app-circle{
  width: 100%;
  height: 100%;
  position: absolute;
}

.over{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: darkgray;
  opacity: 0.5;
  z-index: 9999;
}

.app-loading-circle .app-circle:before{
  width: 16%;
  height: 16%;
  background-color: #0000cd;
  border-radius: 100%;
  display: block;
  content: '';
  margin: 0 auto;
  animation: app-loading-circle-delay 1.2s infinite ease-in-out;
  -webkit-animation: app-loading-circle-delay 1.2s infinite ease-in-out;
  -o-animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
}

@for $i from 2 to 13{
 .app-loading-circle .app-circle#{$i}{
   -webkit-transform: rotate(#{$i*30-30}deg);
   -ms-transform: rotate(#{$i*30-30}deg);
   transform: rotate(#{$i*30-30}deg);
 }
  .app-loading-circle .app-circle#{$i}:before{
    -webkit-animation-delay: #{$i*0.1-1.2}s;
    animation-delay: #{$i*0.1-1.2}s;
  }
}

@keyframes app-loading-circle-delay{
  0%, 39%, 100%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}

@-webkit-keyframes app-loading-circle-delay {
  0%, 39%, 100%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}

@-o-keyframes app-loading-circle-delay {
  0%, 39%, 100%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}

@-moz-keyframes app-loading-circle-delay {
  0%, 39%, 100%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}
