.example-form {
  width: 160px;
  display: block;
  float: left;
}
.btn{
  float: left;
  display: block;
}
.mat-option{
  font-size:12px;
  line-height: 20px !important;
  height:  20px !important;
  padding: 0 8px !important;
}
.content {
  position: fixed;
  z-index: 1300;
  width: 40%;
  height: calc(70vh);
  height: -webkit-calc(70vh);
  height: -moz-calc(70vh);
  left: calc(40vh);
  top: calc(40vh);
}

.mat-oprion-search{
  width: 180px;
}
