.example-form {
  width: 160px;
  display: block;
  float: left;
}
.btn{
  float: left;
  display: block;
}
.mat-option{
  font-size:12px;
  line-height: 20px !important;
  height:  20px !important;
  padding: 0 8px !important;
}
