<header class="header">
  <a routerLink="home" routerLinkActive="active">首页</a>
  <a routerLink="news" routerLinkActive="active">新闻(传值)</a>
  <a routerLink="product" routerLinkActive="active">js跳转</a>
  <a routerLink="aggrid" routerLinkActive="active">ag-grid学习</a>
  <a routerLink="material" routerLinkActive="active">material学习</a>
  <a routerLink="study" routerLinkActive="active">问题汇总</a>
  <a routerLink="scss" routerLinkActive="active">css学习</a>
  <select>
    <option>{{1}} </option>
    <option>{{2}} </option>
    <option>{{3}} </option>
  </select>
  {{msg}}
</header>
<router-outlet></router-outlet>
