<div style="width: 360px;height: 360px">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let doc of docsInfo;let i= index" [expanded]="i===0" (closed)="afterClose()"
                         (opened)="afterOpen(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{doc.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>属性</th>
          <th>值</th>
        </tr>
        <tr *ngFor="let cus of doc.cusInfo">
          <td>{{cus.col}}</td>
          <td *ngIf="!cus.edit">{{cus.value}}</td>
          <td *ngIf="cus.edit"><input type="text" [(ngModel)]="cus.value"/></td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="saveCus()" [disabled]="!openFlg">属性保存</button>{{openFlg}}
</div>

<mat-divider></mat-divider>
<div>
  事件监听(按键+滚轮)<input type="text" appSelecterFocus><br>
  事件监听(input组件blur事件,双向绑定)<input type="text" [(ngModel)]="textValue" trim>value:[{{textValue}}]<br>
  事件监听(input组件min/max属性,双向绑定)<input type="number" [(ngModel)]="numValue" min="10" max="15" num>value:[{{numValue}}]<br>
</div>
<mat-divider></mat-divider>
<button (click)="closePanel()" id="btn-close"></button>
<!--入力组件,根据字符匹配选项,不合规则的,恢复空-->
<app-input-select [list]="list" [(value)]="selectValue" [optionCloseFlg]="closeOption"></app-input-select>
<div style="float: left;display: block">选择值为:{{selectValue}}</div>
<button style="float: left;display: block" (click)="cleanValue()">清除值</button>
