<div style="width: 360px;height: 360px">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let doc of docsInfo;let i= index" [expanded]="i===0" (closed)="afterClose()"
                         (opened)="afterOpen(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{doc.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>属性</th>
          <th>值</th>
        </tr>
        <tr *ngFor="let cus of doc.cusInfo">
          <td>{{cus.col}}</td>
          <td *ngIf="!cus.edit">{{cus.value}}</td>
          <td *ngIf="cus.edit"><input type="text" [(ngModel)]="cus.value"/></td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="saveCus()" [disabled]="!openFlg">属性保存</button>
</div>
{{openFlg}}
<mat-divider></mat-divider>
<div>
  <!--入力组件,根据字符匹配选项,不合规则的,恢复空-->
  <form class="example-form">
    <input type="text" [placeholder]="customPlaceholder" [formControl]="control"
           [matAutocomplete]="auto" (blur)="inputCheck()" [(ngModel)]="formValue" (keyup)="delInput($event)"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
      <!--每次缓存5个选项,减少因数量导致显示迟滞-->
      <cdk-virtual-scroll-viewport [itemSize]="5" [ngStyle]="{'height':optionHeight+'px'}">
        <mat-option *ngFor="let list of filteredCondition | async" [value]="list">
          {{list.name}}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
  </form>
</div>
<button (click)="show()" id="btn-flash"></button>
