.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}

.mat-option{
  font-size:12px;
  line-height: 28px !important;
  height:  28px !important;
  padding: 0 8px !important;
}

.auto-complete{
  width: 210px;
}
