.example-form {
  width: 160px;
  display: block;
  float: left;
}

.example-full-width {
  width: 100%;
}

.mat-option{
  font-size:12px;
  line-height: 28px !important;
  height:  28px !important;
  padding: 0 8px !important;
}

.auto-complete{
  width: 210px;
}

.show-flash-btn{
  display: block;
  float: left;
  margin-left: 20px;
}
